* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
	outline: 0;
}

input {
	border : 1px solid black;
}

ul.menu {
	display: block;
	height: 40px;
	line-height: 40px;
}

ul.menu li {
	display: block;
	float: left;
	width: 180px;
	text-align: center;
	background-color: #ddd;
}

ul.menu li.active {
	background-color: #999;
}

ul.menu li.active a, ul.menu li.active a:hover {
	text-decoration: none;
	cursor: default;
}

table.edit-products {
	border: 1px solid black;
	width: 800px;
}
table.edit-products td {
	border: 1px solid black;
	padding: 5px;
}

#main-wrapper {
	width: 1080px;
	padding: 10px;
	margin: 0 auto;
}

#invoice-container {
	padding: 5px;
	width: 900px;
	margin: 10px auto;
}

#invoice-header {
	border: 2px solid black;
	width: 100%;
	height: 250px;
	line-height: 24px;
}

#invoice-header .col1 {
	float: left;
	width: 300px;
	height: 250px;
	padding: 10px;
}

#invoice-header .col2 {
	float: left;
	width: 240px;
	height: 250px;
	padding: 10px;
	text-align: center;
}

#invoice-header .col2 .logo {
	margin-top: 10px;
	max-width: 200px;
	height: 120px;
}

#invoice-header .col2 .main-info {
	border: 1px solid black;
}

#invoice-header .col3 {
	float: left;
	width: 300px;
	height: 250px;
	padding: 10px;
}

#invoice-body {
	border: 2px solid black;
	width: 100%;
	/*height: 800px;*/
	margin-top: 10px;
}

#invoice-body th, #invoice-body td {
	padding: 5px;
	border: 1px solid black;
	line-height: 25px;
	vertical-align: middle;
}

#invoice-body tbody td {
	border-bottom: none;
	border-top: none;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

#invoice-body .col-nr {
	text-align: center;
	width: 5%;
}

#invoice-body .col-name {
	text-align: left;
	padding-left: 10px;
	width: 50%;
}

#invoice-body .col-unit {
	text-align: center;
	width: 10%;
}

#invoice-body .col-quantity {
	text-align: center;
	width: 12%;
}

#invoice-body .col-price {
	text-align: center;
	width: 10%;
}

#invoice-body .col-total {
	text-align: center;
	width: 13%;
}

#invoice-body .fill {
	height: auto;
}

#invoice-body tfoot .author {
	padding: 0;
}

#invoice-body tfoot .author .signature-box {
	float: left;
	width: 140px;
	height: 200px;
	border-right: 1px solid black;
	padding: 3px;
	font-size: 14px;
}

#invoice-body tfoot .author .author-info {
	
}