<div class="">
	<h2>Add invoice</h2>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<form name="form" ng-submit="submit()" role="form">
		<label for="number">Invoice number</label><br />
		<input type="text" name="number" id="input-number" class="form-control" ng-model="number" required /><br />
		<span ng-show="form.number.$dirty && form.number.$error.required">Number is required</span><br />
		
		<div style="border: 1px solid black; width: 400px;">
			<label for="name">client</label><br />
			<select name="client_selector" id="form-client" ng-model="source_client" ng-change="select_client()" ng-options="clientx as clientx.name for clientx in clients">
				<option value="">--new--</option>
				
			</select>
			<br /><br />
			
			<input type="hidden" name="client._id" id="input-id" ng-model="client._id" />
			
			<label for="name">Name</label><br />
			<input type="text" name="client.name" id="input-name" class="form-control" ng-model="client.name" required /><br />
			<span ng-show="form.name.$dirty && form.name.$error.required">Name is required</span><br />
			
			<label for="name">CIF</label><br />
			<input type="text" name="client.cif" id="input-cif" class="form-control" ng-model="client.cif" required /><br />
			<span ng-show="form.cif.$dirty && form.cif.$error.required">CIF is required</span><br />
			
			<label for="name">address</label><br />
			<input type="text" name="client.address" id="input-address" class="form-control" ng-model="client.address" /><br />
			<br />
			
			<label for="name">city</label><br />
			<input type="text" name="city" id="input-city" class="form-control" ng-model="client.city" required /><br />
			<span ng-show="form.city.$dirty && form.city.$error.required">city is required</span><br />
			
			<label for="name">county</label><br />
			<input type="text" name="county" id="input-country" class="form-control" ng-model="client.county" required /><br />
			<span ng-show="form.county.$dirty && form.county.$error.required">county is required</span><br />
			
			<label for="name">country</label><br />
			<input type="text" name="country" id="input-country" class="form-control" ng-model="client.country" required /><br />
			<span ng-show="form.country.$dirty && form.country.$error.required">country is required</span><br />
			
			<label for="name">bank name</label><br />
			<input type="text" name="bank_name" id="input-bank_name" class="form-control" ng-model="client.bank_name" /><br />
			<br />
			
			<label for="name">bank account</label><br />
			<input type="text" name="bank_account" id="input-bank_name" class="form-control" ng-model="client.bank_account" /><br />
			<br />
		</div>
		<br />
		
		<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Next</button>
	</form>
</div>
