<div class="">
	<h2>Add invoice</h2>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<form name="form" ng-submit="submit()" role="form">
		<label for="number">Invoice number</label><br />
		<input type="text" name="number" id="input-number" class="form-control" ng-model="number" required /><br />
		<span ng-show="form.number.$dirty && form.number.$error.required">Number is required</span><br />
		
		<label for="name">client</label><br />
		<select name="client_id" id="form-client" ng-model="client_id" required>
			<option value="">--pick--</option>
			<option ng-repeat="client in clients" value="{{ client._id }}">{{ client.name }}</option>
		</select>
		<br />
		<span ng-show="form.client_id.$dirty && form.client_id.$error.required">client is required</span><br />
		
		<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Submit</button>
	</form>
</div>
